<div class="full-line"></div>
<div style="height:500px;" class="main container page-login">
    <div class="row">
        <div class="login">
            <div id="hintBox" class="alert alert-danger alert-dismissable" style="display:none;">
                <button aria-hidden="true" data-dismiss="alert" type="button" class="close">×</button>
                <span class="hint-msg"></span>
            </div>
            <div class="password">
                <form method="post" id="loginForm" role="form">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input type="text" name="loginName" autocomplete="off" data-msg="用户名" placeholder="用户名或手机号码" class="form-control input-lg check-null" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" id="input-password" name="password" data-msg="密码" placeholder="密码" autocomplete="off" class="form-control input-lg check-null"/>
                        <input type="hidden" id="public-key" name="publicKey"/>
                    </div>
                    <div class="input-group buttons">
                        <button type="button" class="btn btn-orange submit-btn">立即登录</button>
                        <span><a href="/forgot-password">忘记密码？</a></span>
                    </div>
                </form>
                <div class="space1"></div>
                <h3 class="fast-reg center">
                    <a href="/register">没有账号？立即注册</a>
                </h3>
            </div>
        </div>
    </div>
</div>
<!-- 待提取，先写在行内，等build部分就绪后迁移 -->
<script>

</script>