<div class="container-wrap">
    <div class="service clearfix">
        <div class="service-item">
            <ul>
              <li class="active"><a href="/aboutus/jianjie">甜菜金融</a></li>
              <li><a href="/aboutus/gudong">股东介绍</a></li>
              <li><a href="/aboutus/team">管理团队</a></li>
              <li><a href="/aboutus/safety">安全保障</a></li>
              <li><a href="/aboutus/dec">网站声明</a></li>
              <li><a href="/aboutus/contactus">联系我们</a></li>
              <li><a href="/aboutus/zhaopyc">加入我们</a></li>
            </ul>
        </div>
        <div class="service-info">
            <div class="service-title"><span>甜菜金融</span></div>
            <div class="service-detail">
                <h3><span style="font-size: 14px;">1. 甜菜金融是什么</span></h3>
                <p><span style="font-size: 14px;">甜菜金融（itiancai.com）系天风天财（武汉）金融信息服务有限公司（简称“天风天财”）创立的互联网金融服务品牌。</span></p>
                <p><span style="font-size: 14px;">天风天财由天风证券股份有限公司全资子公司天风天盈投资有限公司、天风天睿投资有限公司共同投资设立，为天风证券旗下成员企业。公司将传统金融领域的专业能力、风控优势及互联网高效、透明、便捷的特点相结合，致力打造国内领先的新型互联网金融集团，业务主要涵盖互联网借贷信息服务（P2P），未来将向第三方支付、网络众筹、网络征信等方向发展。<br style="box-sizing: border-box;"><br style="box-sizing: border-box;"></span></p>
                <h3><span style="font-size: 14px;">2. 为什么选择甜菜金融</span></h3>
                <p><span style="font-size: 14px;">甜菜金融（itiancai.com）专注于衣食住行玩细分领域，选择泛生活领域核心优质客户，与其合作成立产业金融公司，并开发其产业链金融业务，即参与到人们生活中的各行各业，选择发展势头良好、投资前景可靠的的核心企业，努力推动他们向好发展，让广大投资者在生活中选择看得到、看得懂的投资方式，消除投融资项目的距离感。消费者所投资的每一分钱，可能就变成了隔壁正在筹建的咖啡馆，或是小区新开的面包店。基于我们日常生活的点点滴滴，让客户不仅获得投资带来的收益，更多的是得到通过改善周边生活带来的幸福感和荣耀。</span></p>
                <p>
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>
