<div class="head">
    <div class="head-bar-outer">
        <div class="head-bar">
            <div class="pull-left">
                <span class="tel">欢迎致电 400-618-6161</span>
                <span class="serve-time">服务时间：9:00 - 18:00 (工作日)</span>
            </div>
            <div class="pull-right">
                <span>关注我们</span>
                <a id="tcjrsy_D01_02" href="http://weibo.com/u/5451034109" target="_blank" class="head-icon head-weibo">&emsp;<div class="weibo_diag"><img src="./img/wb.png"></div></a>
                <a id="tcjrsy_D01_01" href="javascript:;" class="head-icon head-weixin">&emsp;<div class="weixin_diag"><img src="./img/wx.png"></div></a>
            </div>
        </div>
    </div>
    <div class="head-nav-outer">
        <div class="head-nav">
            <div class="head-logo">
                <a href="/">
                    <img src="./img/logo.jpg" alt="甜菜金融" width="342" height="63">
                </a>
                <h1 style="display:none;">理财,理贷,理人生</h1>
            </div>
            <div class="head-nav-info">
            <ul class="nav-ul"> 
                  <li class="active"><a href="/index">首页</a></li>
                  <li><a href="#">理财</a></li>
                  <li><a href="#">众筹</a></li>
                  <li><a href="#">帮助</a></li>
                  <li><a href="#">关于我们</a></li>
                  <% if(userInfo) {%>
                  <!--<li class="login"><a href="#"><%=userInfo.loginName %></a></li>-->

                  <li id="myAccount" class="my-account">
                    <a href="/account" class="my-acc"><i class="iconfont icon-user"></i>我的账户<i class="iconfont icon-down"></i></a>
                    <div id="accountMenu" class="diag-box">
                    <div class="role"><img src="./img/role.gif" width="15" height="15"></div>
                    <p>用户名: <%=userInfo.loginName %></p>
                    <p>余额:<span class="red">&nbsp;￥0.00</span>
                    <br>待收本息: ￥0.00</p>
                    <div class="btn-group">
                    <a href="/account/recharge">充值</a><a href="/account/withdraw" class="cash">提现</a></div>
                    <hr><a href="/account/invest"><i class="iconfont icon-right"></i>投资管理</a><a href="/account/funds">  <i class="iconfont icon-right"></i>资金记录</a>
                    <hr><a href="/logout">退出</a>
                    </div>
                  </li>
                  <% } else { %>
                  <li class="login"><a href="/login">登录</a></li> 
                  <li class="register"><a  href="/register"><i class="iconfont icon-user"></i>免费注册</a></li>
                  <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>