<div class="foot">
    <div class="foot-wrap">
        <div class="foot-detail clearfix">
            <div class="pull-left">
                <div class="lh clearfix">
                    <div class="site">
                        <a id="tcjrsy_f01_1" href="/aboutus/jianjie" target="_blank" rel="nofollow">关于我们</a>
                        <a id="tcjrsy_f01_2" href="/service/law" target="_blank" rel="nofollow">法律法规</a>
                        <a id="tcjrsy_f01_3" href="/service/wt" target="_blank" rel="nofollow">帮助</a>
                    </div>
                    <div class="social">
                        <span>关注我们</span>
                        <a id="tcjrsy_f01_4" href="http://weibo.com/u/5451034109" target="_blank" class="social weibo footer-weibo"><div class="weibo_diag" style="display: none;"><img src="img/wb.png"></div></a>
                        <a id="tcjrsy_f01_5" href="javascript:;" rel="nofollow" class="social weixin footer-weixin"><div class="weixin_diag" style="display: none;"><img src="img/wx.png"></div></a>
                    </div>
                </div>
                <div class="cp">
                    <p><span>©2015 甜菜金融</span><span class="ssp">|</span><span>天风天财（武汉）金融信息服务有限公司</span><span class="ssp">|</span><span>鄂ICP证  15000319号</span></p>
                </div>
            </div>
            <div class="pull-right">
                <p class="hot-name"><img src="./img/tel.png" width="33" height="33"><span class="hot_link">全国服务热线</span></p>
                <p class="hot-number">400-618-6161<span class="hot-time">工作时间：9:00-18:00(工作日)</span></p>
            </div>
        </div>

            <div class="verification">
                <a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.itiancai.com&amp;lang=zh_cn" title="甜菜金融已引入VeriSign SSL加密技术，您的隐私及个人资料安全已受到最高级别的保护。" class="ui-item norton"></a>
                <a id="_pingansec_bottomimagelarge_p2p" href="http://si.trustutn.org/info?sn=267150702000181990093" target="_blank" class="ui-item trustutn">
                </a>
                <a href="http://webscan.360.cn/index/checkwebsite/url/www.itiancai.com" target="_blank" class="ui-item check360"></a>
                <script src="http://v.trustutn.org/js/cert.js?v=2"></script><script type="text/javascript" src="http://si.trustutn.org/certShow?type=421&amp;certType=4&amp;sn=267150702000181990093"></script>
            </div>
    </div>
    <div class="foot-logo">
        <img src="img/footer-logo-361f722c.png" alt="天风证券旗下成员企业">
    </div>
</div>
</div>