.banner-outer{
  display: block;
  position: relative;
  margin-bottom: .5rem;
}
.banner-inner{
  background: url('./banner.png') no-repeat;
  background-size: 100%;
  height:7.1rem;
}
.banner-text{
    position: absolute;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    color: #fff;
    font-size: .85rem;
    text-align: center;
    line-height: 2.2rem;
}